<div class="login-container">
    <h2>Sign In</h2>
    <form (ngSubmit)="onLogin()" #loginForm="ngForm">
      <!-- NIC Input -->
      <div class="form-group">
        <label for="nic">NIC</label>
        <input 
          type="text" 
          id="nic" 
          name="nic" 
          class="form-control" 
          [(ngModel)]="credentials.nic" 
          required />
      </div>
  
      <!-- Password Input -->
      <div class="form-group">
        <label for="password">Password</label>
        <input 
          type="password" 
          id="password" 
          name="password" 
          class="form-control" 
          [(ngModel)]="credentials.password" 
          required />
      </div>
  
      <!-- Login Button -->
      <button type="submit" class="btn btn-primary" [disabled]="!loginForm.valid">
        Login
      </button>
    </form>
  
    <!-- Link to Registration -->
    <p class="register-link">
      Don't have an account? <a routerLink="/signup">Sign up here</a>
    </p>
  </div>
